.red {
  color: red;
}

.ProductPage {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;

  align-items: center;
}

table, table * {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}